$primary-color: teal;
$layout-color: #1c292f;
$secondary-color: #1d5e7c;
$success-color: #75b575;
$lightblue-color: #096fa2;
$info-color: #00a2ff;
$warn-color: #fc0000ba;
$light-warn-color: #e56d6df4;
